@import url('/home/srch/.cache/wal/colors-waybar.css');

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono NFM";
  font-size: 12.5px;
  padding: 0;
}

window#waybar {
  /* background: @background; */
  /* border-top: 1px solid @color5; */
  background: rgba(0, 0, 0, 0);
}

#disk,
#scratchpad,
#user,
#window,
#mpris,
#temperature,
#memory,
#cpu,
#clock,
#pulseaudio,
#network,
#tray,
#battery {
  margin: 0px 2px 5px 2px;
  padding: 2px 5px;
  background: @background;
  color: @color5;
  border: 1px solid @color5;
}

#disk,
#temperature,
#memory,
#cpu,
#pulseaudio {
  margin: 0 2px;
  padding: 0 4px;
  border: 0px;
}

#info {
  margin: 0px 2px 5px 2px;
  padding: 2px 0;
  background: @background;
  border: 1px solid @color5;
}

#workspaces {
  margin: 0px 2px 5px 2px;
  background: @background;
  border: 1px solid @color5;
}

#workspaces button {
  all: initial;
  padding: 2px 4px 2px 4px;
  color: @color5;
}

#workspaces button.urgent,
#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @color6;
  padding: 2px 4px;
  color: @background;
}

#mpris {
  background: @color5;
  color: @background;
}

#window {
  background: @color5;
  color: @background;
  border: 0px;
}
