/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0e1521 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c2c4c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c2c4c7; background-color: rgba(200,161,113,0.4)}
.cm-s-nqqwal { background-color: #0e1521; color: #c2c4c7; }
.cm-s-nqqwal span.cm-builtin { color: #675549; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5d6472; }
.cm-s-nqqwal span.cm-keyword { color: #88613C; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #8D7257; }
.cm-s-nqqwal span.cm-def { color: #A48C6D; }
.cm-s-nqqwal span.cm-variable { color: #C8A171; }
.cm-s-nqqwal span.cm-variable-2 { color: #A48C6D; }
.cm-s-nqqwal span.cm-string { color: #675549; }
.cm-s-nqqwal span.cm-string-2 { color: #675549; }
.cm-s-nqqwal span.cm-number { color: #A48C6D; }
.cm-s-nqqwal span.cm-tag { color: #88613C; }
.cm-s-nqqwal span.cm-property { color: #C8A171; }
.cm-s-nqqwal span.cm-attribute { color: #C8A171; }
.cm-s-nqqwal span.cm-qualifier { color: #8D7257; }
.cm-s-nqqwal span.cm-meta { color: #A48C6D; }
.cm-s-nqqwal span.cm-header { color: #88613C; }
.cm-s-nqqwal span.cm-operator { color: #88613C; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(164,140,109,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #88613C; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0e1521); }
